html, body{
  height: 100%; /*Content fills browser/device*/
}

header, footer{
  margin: 0;
  padding: 8px 4px;
}

.top-link{
  background-color: #383433;
  text-align: center;
}
.top-link a{
  color: white;
  text-decoration: underline;
}

.nav-icon{ display: inline;}
.nav-icon a{text-decoration: none;}

.nav-item a{
  color: black;
  text-decoration: none;
  font-size: 20px;
  padding-left: 25px;
}

.nav-item a:link {text-decoration: none;}
.nav-item a:visited {text-decoration: none;}
.nav-item a:hover {text-decoration: underline;}
.nav-item a:active {text-decoration: underline;}
.nav-item {display: inline;}

.nav-menu {text-align: center;}

.dropbtn{
  background-color: white;
  color: black;
  font-size: 17px;
  border: none;
}

.dropdown{
  position: relative;
  display: inline-block;
}

.dropdown-content{
  display: none;
  position: absolute;
  background-color: white;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:link {text-decoration: none;}
.dropdown-content a:visited {text-decoration: none;}
.dropdown-content a:hover {text-decoration: underline;}
.dropdown-content a:active {text-decoration: underline;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: white;}

.nav-login a{
  color:black;
  text-decoration: none;
}

.nav-login{
  display: inline;
  text-align: right;
}

.nav-login a:link {text-decoration: none;}
.nav-login a:hover {text-decoration: underline;}


/*RED PORTION*/
.red-portion{
  box-sizing: border-box;
  background-color: #FF6363;
  text-align: center;
  font-size: 35px;
}

.first-two-sentences{ color: white;}
.Subscribe-sentence{ color: yellow;}
.End-sentence{color: white;}


/*Main content*/
/**/
.Tiers{ /*creating flex box*/
  display: flex;
  justify-content: center;
}

.Tiers div { /*adjusting flex box properties*/
  /*border: 1px #ccc solid;*/
  padding: 5px;
  flex-basis: 20%;
}

/*changes to buttons on each tier*/
.hover {
  text-decoration: none;
  color: white;
}

/*Basic Teir*/
.basic-section {
  padding: 1rem;
  border-radius: 5px;
  background-color: #2e84ed;
  color: white;
  text-align: left;
}

.basic-button{
  border-radius: 5px;
  background-color: #9FCDEA;
  text-align: center;
}

/*All Access Teir*/
.all-access-section {
  padding: 1rem;
  border-radius: 5px;
  background-color: #0f4a92;
  color: white;
  text-align: left;
}
.all-access-button {
  border-radius: 5px;
  background-color: #9FBDEA;
  text-align: center;
}

/*All Access Plus Print Teir*/
.all-access-plus-section{
  padding: 1rem;
  border-radius: 5px;
  background-color: #2c2c2c;
  color: white;
  text-align: left;
}

.all-access-plus-button{
  border-radius: 5px;
  background-color: #9FA5AE;
  text-align: center;
}

 /*changing the bullet points of list item to check marks*/
ul{list-style: none;}
.tier-details li::before{content: '✓'}

/*Change color of disclaimer*/
.all-access-print-discliamer{color: gray;}

/*modiy tier description li*/
.tier-des{
  font-size: 20px;
  margin: 0 0 20px 0;
}


/*Offer details*/
.Offer-details {
  display: flex;
  justify-content: center;
  color: gray;
}

.Offer-details p { /*adjusting flex box properties*/
  /*border: 1px #ccc solid;*/
  padding: 5px;
  flex-basis: 65%;
}


/*More Supscription Options*/
.Other-offers{
  display: flex;
  justify-content: center;
  font-size: 25px;
}

.Other-offers p{
  padding: 5px;
  flex-basis: 65%
}

/**/
.other-options{
  display: flex;
  justify-content: center;
}

.other-options table {
  padding: 5px;
  flex-basis: 65%;
}

/*adjust spacing between subscription options*/
.option-table {
  border-spacing: 15px 20px;
  padding: 0 8px 8px 0;
}

.sub-option{
  text-align: left;
  background-color: #d7dbdd ;
  padding: 10px;
  border-radius: 5px;
}


/*adjusting the subscription option text*/
.other-options-links{
  font-size: 18px;
  color: blue;
}

.option-des{font-size: 18px;}

.FAQ{
  display: flex;
  justify-content: center;
  font-size: 25px;
}

.FAQ p{
  padding: 5px;
  flex-basis: 65%
}

.FAQ-container{
  display: flex;
  justify-content: center;
  font-size: 20px;
  color: blue;
}

.FAQ-container ul{
  padding: 5px;
  flex-basis: 65%;
}


.question-list{
  margin: 0 0 10px 0;
}

.question-answer{
  color: black;
  padding-left: 3em;
}

.black-portion{
  display: flex;
  background-color: #383433;
}

.black-portion div{
  padding: 10px;
  flex-basis: 100%;
}

.section-title{
  text-align: left;
  font-size: 20px;
  color: white;
}

.section-option{
  font-size: 20px;
  color: white;
}

.section-container a:link {text-decoration: none;}
.section-container a:hover {text-decoration: underline;}

h3{color: white;}
